
/* -------
    RESET
-------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #00008b;
    padding-bottom: 50px;
}

.container-header{
    background-color: #add8e6;
    padding: 6px;

}
.container-nav{
    margin: auto;
   display: flex;
    max-width: 1100px;
    background-color: #daa520;
    justify-content: space-between;
    padding: 6px;
    
}

.col-25{
    width: 25%;
}

.col-25:last-child{
    display: flex;
    justify-content: flex-end;
}

.col-50{
    width:50%;
}

.hero{
    margin: auto;
    margin-top: 50px;
    
}
/* -------
    DEBUG
-------- */
.col-25, .col-50, .container-header, .hero{
    border: 1px dashed black;
}
.hero{
    width: 900px;
    height: 400px;
    background-color: #ee82ee;
}